:root {
    --function_background_color: color-mix(in srgb, var(--color_background), #000 8%);
    --function_background_color_light: color-mix(in srgb, var(--function_background_color), #ffffff var(--gradientLighteningAmount));
    --function_background_color_dark: color-mix(in srgb, var(--function_background_color), #000 2%);

    --function_background: linear-gradient(45deg, var(--function_background_color), var(--function_background_color_light));

    --function_h3: color-mix(in srgb, var(--color_white_text), #000 20%);
    --function_p: color-mix(in srgb, var(--function_h3), #000 10%);

    --item_collum_tab_size: 1rem;
    --item_collum_tab_multiply: 2.5;
}

img {
    width: 25vw;
    max-width: 700px;
    min-width: 300px;
}

.api_content {
    display: flex;
    flex-direction: column;
    width: 20rem;
    max-width: 90vw;
    height: fit-content;
    overflow: hidden;
    justify-content: start;
    background: var(--function_background);
    margin: 0.5vw;
    padding: 1rem;
    margin-top: 0;
}

.api_content > h3 {
    margin-left: 0.25rem;
    margin-bottom: 0.5rem;
}

.api_content > div > h4 {
    margin-left: 0.25rem;
}

.nav_folder_group {
    margin: var(--button_margin);
    display: flex;
    flex-direction: column;
}

.button_links_sidebar {
    display: flex;
    flex-direction: column;
}

.button_links_sidebar button {
    color: var(--prism_color_function);
}

.button_links_sidebar {
    width: 100%;
}

#button_links_parts button {
    color: var(--prism_color_unity_type);
}

#button_links_gettingstarted button,
#button_links_faq button  {
    color: var(--color_h1);
}

.function_container_text_part {
    padding: 1rem;
}

p > a {
    color: var(--function_h3);
    font-weight: 600;
}

ol,
ul {
    color: var(--function_p);
    padding: 1rem;
}

li ul {
    padding-top: 0;
}

.overload_text {
    padding-bottom: 0;
}

.param_note {
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--color_white_text);
    background-color: var(--prism_color_keyword);
    padding: 0.1rem 0.2rem;
    border-radius: 12px;
    margin-left: 8px;
    vertical-align: middle;
    user-select: none;
}

.note_overload {
    background-color: var(--prism_color_comment);
}

.function_container {
    margin: 1rem 0;
    background: var(--function_background);
    width: 100%;
    height: fit-content;
}

.function_container:first-of-type{
    margin-top: 0;
}

.function_container h2 {
    margin-top: 0;
    margin-bottom: 0.7rem;
    color: var(--prism_color_function);
}

.function_container h3 {
    margin-bottom: 0.6rem;
    color: var(--function_h3);
}

.function_container h4 {
    color: var(--color_white_text);
}

.function_container h5 {
    padding-left: var(--item_collum_tab_size);
    color: var(--prism_color_keyword);
}

.function_container p {
    color: var(--function_p);
    padding-left: calc(var(--item_collum_tab_size) * var(--item_collum_tab_multiply));
}

.function_container .gettingstartedText p {
    padding-left: 0;
}

.function_container p + p {
    color: var(--prism_color_comment);
    padding-left: calc(var(--item_collum_tab_size) * calc(var(--item_collum_tab_multiply) * 2));
    font-style: italic;
}

.function_container .gettingstartedText p + p {
    color: var(--function_p);
    font-style: normal;
}

@media (max-width: 900px) {
    .api_content {
        width: 100%;
    }

    .function_container p {
        padding-left: calc(var(--item_collum_tab_size) * 1.2);
    }

    .function_container p + p {
        padding-left: calc(var(--item_collum_tab_size) * 2.4);
    }
}

@media (max-width: 600px) {
    img {
        width: 60vw;
        max-width: 220px;
    }

    .function_container_text_part {
        padding: 0.75rem;
    }
}